// Colores
$primary-color: #ed1e1e;
$secondary-color: #ffffff;
$text-color: #000000;
$background-color: #ffffff;

// Fuentes
$font-family: "Poppins", "Kumbh Sans", sans-serif;

// Breakpoints
$breakpoint-xl: 1420px; // Extra large screens
$breakpoint-lg: 1144px; // Large screens
$breakpoint-md: 1094px; // Medium screens
$breakpoint-sm: 768px;  // Small screens
$breakpoint-xs: 720px;  // Extra small screens